*
.site-header{
    background-color: #A9A9A9;
    color: #ecfdf9;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.site-header-content{
    margin: 10px;
}
body{
     margin: 0;
    }
.course-link{
    color: #ecfdf9; 
}    
.profile-pic{
    border-radius: 50%;
    height: 200px;
    width:200px;
    align-self: center;
    box-shadow: #222 5px 5px 5px;
}
footer{
    width: 100%;
    background-color: #222;
    padding: 50px 0px;
    padding-right: 15;
    margin-left: 15px;
}



